<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit Report</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   
   <link href="js/ng-table/ng-table.css" type="text/css" rel="stylesheet" />
 <script src="http://code.angularjs.org/1.3.5/angular.js"></script>
    <link data-require="datatable-css@1.10.7" data-semver="1.10.7" rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
    <script data-require="datatable.js@1.10.7" data-semver="1.10.7" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="js/ng-table/angular-databale.js"></script>
 
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
  <script src="js/editReportController.js"></script>
  
  
  
  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222;
   color: white;
   text-align: center;
}
.card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


table th
{
	/* background:#2196F5; */
	background:#007bff;
	color:white;
}

table
{
    font-size: 13px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 4px 18px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}


/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

  </style>
</head>





<body ng-app="editReport" ng-controller="editReportCtrl">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Examination</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    
  </div>
</nav>


<ul class="breadcrumb">
  <li><a href="/ERPReport">Home</a></li>
  <li>Edit Report</li>
</ul>

<div class="container" style="margin-top: 4%;
    margin-left: 5%;">
    <div class="col-md-4" style="margin-left:0px; ">
	<label>Academic Year</label><select class="form-control" id="sel1" ng-model="batchName"  ng-init="batchName=0">
		   <option ng-repeat="batch in batches" value="{{batch}}">{{batch}}</option>
		  </select>
	</div>
	<hr>
 <div class="alert alert-success" ng-show="msg!=''">
 <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> {{msg}}.
      </div>
  
<div class="col-md-8" style="display:flex;margin-left:0;">
	<div class="col-md-4">
	<label>Batch Name</label>
		  <select class="form-control" id="sel1" ng-model="batchName"  ng-init="batchName=0">
		   <option ng-repeat="batch in batches" value="{{batch}}">{{batch}}</option>
		  </select>
	</div>
	<div class="col-md-4">
			<label>Exam Name</label>
		  <select class="form-control" id="sel1" ng-model="examName" ng-init="examName=0">
		   <option ng-repeat="exam in exams" value="{{exam}}">{{exam}}</option>
		  </select>
	</div>
	 <div class="col-md-4" ng-if="attendance == 'autoattendance'">
		 <label>Start Date</label>
		 	<input class="form-control"  type="text" ng-model="startdatepicker" ng-init="enableDate()" id="startdatepicker">
		 </div>
		 <div class="col-md-4" ng-if="attendance == 'autoattendance'">
		 <label>End Date</label>
		 	<input class="form-control"  type="text" ng-model="enddatepicker" ng-init="enableDate()"  id="enddatepicker" ng-change="getWorking_Days()">
		 </div>
		<div class="col-md-4">
			<br>
				<button class="btn btn-primary" ng-click="searchData()">SUBMIT</button>
		</div>	
	</div>
	<hr>

	
		<div ng-show="batchinfo == '1'" class="col-md-8" style="display:flex;margin-left:0;">
		<br>
		
		 
		<div class="col-md-4">
		 No. Of Working Days : <input type="text" class="form-control" ng-model="working_days" ng-readonly="attendance == 'autoattendance'"/>
		</div>
		<div class="col-md-3">
				<br><button class="btn btn-primary" ng-show="attendance == 'manualattendance'" ng-click="updateWorkingDays()">SUBMIT</button>
		</div>	
			
		</div>
		<br>
		<div class="col-md-8" style="display:flex;margin-left:0">
			<div class="radio col-md-4">
				
  					<label><input type="radio" name="attendance" ng-model="attendance" value="manualattendance" ng-checked="true">Manual Attendance</label>
  			</div>
  			<div class="radio col-md-4">
				
  					<label><input type="radio" name="attendance" ng-model="attendance" value="autoattendance">Automatic Attendance</label>
  			</div>
	
		</div>	
		<div ng-show="loading == '0'" class="col-md-8" style="display:flex;margin-left:47%;">
			Loading....
		</div>
		<hr ng-show="batchinfo == '1'">
<br>
	<table id="example" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
	      <tr>
	        <th>NAME</th>
	        <th>ADMISSION NO</th>
	        <th>ATTENDENCE</th>
	        <th ng-if="screen=='show'">REMARKS</th>
	        <th  ng-if="screen=='show'">RESULT</th>
	        <th>ACTION</th>
	      </tr>
      </thead>
       <tbody>
       <tr ng-repeat="data in reports track by $index" id="reportTable" repeat-done="initDataTable">
       		<td>{{data.name}}</td>
       		<td>{{data.admno}}</td>
       		 <td>{{data.attendence}}</td>
       		<td  ng-if="screen=='show'">{{data.remarks}}</td>
       		<td  ng-if="screen=='show'">{{data.result}}</td>
       		<td>
       		<button class="btn btn-primary" ng-click="editData(data.id,data.name,data.admno,data.batch,data.attendence,data.remarks,data.result)"><i class="fa fa-edit" aria-hidden="true"></i></button>
       		
       		</td>
       		
       </tr>
       		
       </tbody>
     </table>

</div>

<br><br>
 <div class="footer">
  <p>&copy;School ERP (2019)</p>
</div>



<div id="editModel" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Edit</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body col-md-12">
        
        <form class="form">
        
        <div class="col-md-6 form-group">
	        <label for="">Name</label>
	        <input type="hidden" class="form-control" id="id">
	        <input type="text" class="form-control" id="rowname" ng-readonly="true">
        </div>
        
                
         <div class="col-md-6 form-group">
	        <label for="">Admission No</label>
	        <input type="text" class="form-control" id="admno" ng-readonly="true">
        </div>
        
        <div class="col-md-6 form-group">
	        <label for="">BATCH</label>
	        <input type="text" class="form-control" id="batch" ng-readonly="true">
        </div>
        
        
        <div class="col-md-6 form-group">
	        <label for="">Attendance</label>
	        <input type="text" class="form-control"  id="attendence" ng-readonly="attendance == 'autoattendance'">
        </div>
        
        
        <div class="col-md-6 form-group" ng-if="remarksAvbl=='1'">
	        <label for="">Remarks</label>
	        <input type="text" class="form-control" id="remarks" ng-model="stremarks">
        </div>
        
        <div class="col-md-6 form-group"  ng-if="remarksAvbl=='1'">
	        <label class="radio-inline">
	        	<input type="radio"  id="result" name="result" ng-model="stresult" value="Promoted">
	        	Promoted 
	        </label>
	         <label class="radio-inline"><input type="radio" ng-model="stresult"  id="result" name="result" value="Detained">
	         Detained </label>
	          <label class="radio-inline">
	          <input type="radio"  id="result" name="result" ng-model="stresult" value="Passed">
	          Passed</label>
        </div>
        
        </form>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveData()">Save</button>
      </div>
    </div>

  </div>
</div>



</body>
</html>