<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Print Report</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   
   <link href="js/ng-table/ng-table.css" type="text/css" rel="stylesheet" />
 <script src="http://code.angularjs.org/1.3.5/angular.js"></script>
    <link data-require="datatable-css@1.10.7" data-semver="1.10.7" rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
    <script data-require="datatable.js@1.10.7" data-semver="1.10.7" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="js/ng-table/angular-databale.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <script src="js/editReportController.js"></script>
  <style>
  
  .multiselect-native-select {
		position: relative;
		select {
			border: 0 !important;
			clip: rect(0 0 0 0) !important;
			height: 1px !important;
			margin: -1px -1px -1px -3px !important;
			overflow: hidden !important;
			padding: 0 !important;
			position: absolute !important;
			width: 1px !important;
			left: 50%;
			top: 30px;
		}
	}
	.multiselect-container {
		position: absolute;
		list-style-type: none;
		margin: 0;
		padding: 0;
		.input-group {
			margin: 5px;
		}
		li {
			padding: 0;
			.multiselect-all {
				label {
					font-weight: 700;
				}
			}
			a {
				padding: 0;
				label {
					margin: 0;
					height: 100%;
					cursor: pointer;
					font-weight: 400;
					padding: 3px 20px 3px 40px;
					input[type=checkbox] {
						margin-bottom: 5px;
					}
				}
				label.radio {
					margin: 0;
				}
				label.checkbox {
					margin: 0;
				}
			}
		}
		li.multiselect-group {
			label {
				margin: 0;
				padding: 3px 20px 3px 20px;
				height: 100%;
				font-weight: 700;
			}
		}
		li.multiselect-group-clickable {
			label {
				cursor: pointer;
			}
		}
	}
  
  
  
  
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #222;
   color: white;
   text-align: center;
}
.card:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


table th
{
	/* background:#2196F5; */
	background:#007bff;
	color:white;
}

table
{
    font-size: 13px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 4px 18px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}


/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

  </style>
</head>





<body ng-app="editReport" ng-controller="editReportCtrl">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Examination</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="login?logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    
  </div>
</nav>


<ul class="breadcrumb">
  <li><a href="/ERPReport">Home</a></li>
  <li>Print Report</li>
</ul>

<div class="container" style="margin-top: 4%;
    margin-left: 5%;">

<div class="col-md-8" style="display:flex;margin-left:0">
	<div class="col-md-4">
	<label>Batch Name</label>
		  <select class="form-control" id="sel1" ng-model="batchName"  ng-init="batchName=0">
		   <option ng-repeat="batch in batches" value="{{batch}}">{{batch}}</option>
		  </select>
	</div>
	<!-- <div class="col-md-4">
			<label>Exam Name</label>
		  <select class="form-control" id="sel1" ng-model="examName" ng-init="examName=0">
		   <option ng-repeat="exam in exams" value="{{exam}}">{{exam}}</option>
		  </select>
	</div> -->
	<!-- <div class="col-md-4" ng-if="attendance == 'autoattendance'">
		  <label>Start Date</label>
		 	<input class="form-control"  type="text" ng-model="startdatepicker" ng-init="enableDate()" id="startdatepicker">
		 </div>
		 <div class="col-md-4" ng-if="attendance == 'autoattendance'">
		 <label>End Date</label>
		 	<input class="form-control"  type="text" ng-model="enddatepicker" ng-init="enableDate()"  id="enddatepicker" ng-change="getWorking_Days()">
		 </div> -->
		<div class="col-md-2">
			<br>
				<button class="btn btn-primary" ng-click="searchPrintData()">SUBMIT</button>
		</div>	
		<div class="col-md-1">
				<br><button class="btn btn-success" ng-click="printAll()">
				<i class="fa fa-download" aria-hidden="true"></i>
       		
       		PRINT ALL
				</button>
		</div>	
	</div>
	<hr>

	
		<!-- <div ng-show="batchinfo == '1'" class="col-md-8" style="display:flex;margin-left:0;">
		<br>
		
		 
		<div class="col-md-4">
		 No. Of Working Days : <input type="text" class="form-control" ng-model="working_days"/>
		</div>
		<div class="col-md-3">
				<br><button class="btn btn-primary" ng-show="attendance == 'manualattendance'" ng-click="updateWorkingDays()">SUBMIT</button>
		</div>	
			
		</div> -->
		<br>
		<div class="col-md-8" style="display:flex;margin-left:0">
			<div class="radio col-md-4">
				
  					<label><input type="radio" name="attendance" ng-model="attendance" value="manualattendance" ng-checked="true">Manual Attendance</label>
  			</div>
  			<div class="radio col-md-4">
				
  					<label><input type="radio" name="attendance" ng-model="attendance" value="autoattendance">Automatic Attendance</label>
  			</div>
	
		</div>	
		
		<hr ng-show="batchinfo == '1'">
		<div ng-show="loading == '0'" class="col-md-8" style="display:flex;margin-left:47%;">
			Loading....
		</div>
<br>
	
	<table id="example" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
	      <tr>
	        <th>NAME</th>
	        <th>ADMISSION NO</th>
	       <!-- <th>ATTENDENCE</th>
	         <th>REMARKS</th>
	        <th>RESULT</th> -->
	        <th>ACTION</th>
	      </tr>
      </thead>
       <tbody>
       <tr ng-repeat="data in reports track by $index" id="reportTable" repeat-done="initDataTable">
       		<td>{{data.name}}</td>
       		<td>{{data.admno}}</td>
       		<!--td>{{data.attendence}}</td>
       		 <td>{{data.remarks}}</td>
       		<td>{{data.result}}</td> -->
       		<td>
       		<button class="btn btn-primary" ng-click="printStudent(data.admno)">
       		<i class="fa fa-download" aria-hidden="true"></i>
       		</button>
       		
       		</td>
       		
       </tr>
       		
       </tbody>
     </table>

</div>
<br><br>
 <div class="footer">
  <p>&copy;School ERP (2019)</p>
</div>
</body>
</html>